.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background-color: white;
  padding: 0 12px;
  color: #A9A9A9;

  button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    color: #A9A9A9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-left: 5px;

    &:hover {
      background-color: #f0f0f0;
      border-color: #999;
      color: #000;
    }

    &:disabled {
      background-color: #e0e0e0; /* Серый фон */
      border-color: #b0b0b0; /* Бледный цвет границы */
      color: #a0a0a0; /* Бледный цвет текста */
      cursor: not-allowed; /* Указатель, показывающий, что действие не разрешено */
      opacity: 0.6; /* Полупрозрачность */
    }
  }

  .clear-completed-button {
    cursor: pointer;
  }
}