.tasks-list {
  background-color: white;
  margin: 0;
  padding: 0;

  .no-tasks {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 0;
  }
}